@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-custom {
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
